:root {
  --dark-background: #1F2937;
  --hero-main-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --button-color: #3882f6;
  --quote-text: 36px;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

/* Basic layout */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}


/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: --button-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0056b3;
}